@import 'font-awesome/font-awesome';
@import 'swiper';

* {
  padding: 0;
  margin: 0;
}


#logo {
  content: url('../img/Logo.png');
  width: 89px;
  position: relative;
}

select {
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: white;
  border: none;
  //border-bottom: 2px solid black;
  color: dimgray;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}
